/* General Styles */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Hero Section */

.hero .back-link {
    display: block;
    margin-bottom: 1rem;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero .description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.hero .hero-image {
    max-width: 80%; /* Image will take up a maximum of 80% of the container's width */
    height: auto; /* Maintains the image's aspect ratio */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

/* Carousel Section */
.carousel {
    position: relative;
    margin: 2rem auto;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-slide {
    min-width: 100%;
    text-align: center;
  }
  
  .carousel-slide img {
    width: 100%;
    height: auto; /* Maintains aspect ratio */
    border-radius: 10px;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10;
  }
  
  .carousel-button.prev {
    left: 10px;
  }
  
  .carousel-button.next {
    right: 10px;
  }
  
  .carousel-button:hover {
    background: rgba(0, 0, 0, 0.7);
  }

  .carousel-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 8px;
  }
  
  .carousel-dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .carousel-dot.active {
    background-color: #333;
  }
  
  .installation {
    margin: 40px 0;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.installation h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.installation h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #666;
    border-bottom: 2px solid #ddd;
    display: inline-block;
}

.installation p {
    font-size: 1em;
    margin-bottom: 10px;
    color: #555;
}

.installation pre {
    background: #f3f3f3;
    padding: 15px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: #222;
    overflow-x: auto;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
    white-space: pre-wrap;
}


  
  /* Responsive Design */
  @media (max-width: 768px) {
    .carousel {
      max-width: 100%;
    }
  
    .carousel-button {
      padding: 0.3rem 0.8rem;
      font-size: 1.2rem;
    }
  }
  