html {
  margin: 0 10%;
}

body {
  background-color: #F4F9FE;
}

h1{
  font-family: system-ui; 
  font-size: 5vw;
  color: rgb(153, 153, 153);
}

#Johnson {
  align-self: center;
  justify-self: center;
  border-radius: 30%;
  width: 25vw;
  height: 25vw;
  object-fit: cover;
}

@media (min-width: 600px) {
  #about {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
  }
}

.timeline-event {
  width: 100%;
  display: flex;
  background-color: #EDF2FB;
  border: 1px solid rgba(0, 0, 0, .2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding: 20px;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
}

.timeline-event:hover {
  background-color: #D7E5F8;
  box-shadow: 0px 0px 10px 2px lightgray;
  border-bottom: 3px solid rgba(0, 0, 0, .6);
  border-radius: 40px;
}


img {
  width: 50%;
  padding-right: 2%;
  object-fit: contain;
}

h2, h3, p {
  font-family: Helvetica;
  font-size: 1.5vw;
  color: rgb(153, 153, 153);
}

.date span {
  background-color: #EFF4FC;
  color: rgb(54, 69, 79);
  font-size: 1vw;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(68, 68, 68, 0.75);
  transform: translateZ(1px);
}

.header {
  white-space: nowrap;
  position: relative;
  transform: rotate(90deg);
  transform-origin: left bottom 0;
  opacity: 0.7;
}

.header h2 {
  font-size: 3vw;
}

#name p{
  font-size: 2vw;
  font-weight: 700;
}

#name h1{
  color: black;
}

.container {
  padding-left: 10vw;
}

.container h2, .container p {
  font-size: 1.25vw;
}

.container h2 {
  color: rgb(119, 119, 119);
}

.timeline-event-content h2, .about h2 {
  font-size: 3vw;
}

.about p {
  font-size: 1.75vw;
}

button {
  font-size: 1.5vw;
  font-family: Helvetica;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid currentColor;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  color: blue;
  background-color: rgba(0, 0, 255, 0.1);
}

/* Portfolio Gallery */
.filter-btn {
  display: inline-block;
  background: none;
  outline: none;
  border: none;
  text-transform: uppercase;
  margin-bottom: 1.5vw;
  cursor: pointer;
}

.portfolio-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2vw;
}

.prt-card{
  border-radius: 0.5vw;
  overflow: hidden;
  background-color: #aecbeb;
  display: grid;
  grid-template-rows: 1fr auto;
}
.prt-image{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prt-image img{
  width: 105%
}

.prt-desc{
  padding: 0.5vw;
  display: flex;
  justify-content: space-between;
}

.prt-desc a{
  font-family: Helvetica, sans-serif ;
  color: blue;
  font-size: 1vw;
}

.prt-desc a:hover{
  font-family: Helvetica, sans-serif ;
  color: red;
  font-size: 1vw;
}

h4{
  font-size: 1vw;
  font-family:Helvetica;
  margin: 0%;
  padding: 0%;
}

/* Project Pages */
#project{
  color: blue;
}

.carousel,.carousel::before,.carousel::after{
box-sizing: border-box;
margin-top: 2em;
width: 100%;
height: 20vw;
position: relative;
}
.carousel ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide{
  position:absolute;
  inset: 0;
  opacity: 0;
  transition:  200ms opacity ease-in-out;
}

.slide > img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit:contain;
  object-position: center;
}

.slide[data-active]{
opacity: 1;
}

.carousel-button{
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 2vw;
  top: 50%;
  transform: translate(-50%);
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, .1);
}

.carousel-button :hover,.carousel-button:focus{
  color: white;
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus{
  outline: 1px solid black;
}

.carousel-button.prev{
  left: 0rem;
}

.carousel-button.next{
  right: 0rem;
}

/* Sneaker Portfolio */
.sneaker-port{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
     
input {
  width: 50%;
}

.highlight{
  background-color: yellow;
  font-weight: bold;
}